*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 0;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #d9d9d9;
}

.content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  width: 1140px;
  gap: 30px;
  height: 534px;
}

.search-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content__list-container {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 30px;
  overflow: scroll;
  width: 399px;
}

.result {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.content__details {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  gap: 26px;
}

.result__video-container {
  position: relative;
  min-width: 711px;
  min-height: 386px;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.content__video-card {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail {
  height: 103px;
  min-width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
  flex-grow: 1;
  width: 0;
}

.search-form__fieldset-title {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: bold;
  font-size: 75px;
  line-height: 94%;
  text-transform: uppercase;
}

.content__accent {
  color: #545050;
}

.content__card-link {
  text-decoration: none;
  color: #ffffff;
}

.content__video-card-title {
  font-family: 'Oswald';
  font-weight: 700;
  font-style: Bold;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.content__video-card-description {
  line-height: 16.2px;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  overflow: hidden;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.search-form__checkbox-list {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  gap: 5px;
  border: none;
}

.search-form__label {
  display: flex;
  gap: 5px;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}

.search-form__textfield {
  min-width: 225px;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #ffffff;
}

input {
  font-family: 'Fira Sans Condensed';
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
  border-width: 1px 0px 1px 0px;
  border-style: solid;
  border-color: #ffffff;
  color: #fff;
  background-color: transparent;
  appearance: none;
}

input:focus {
  outline: none;
}

.search-form__textfield::placeholder {
  color: rgb(255 255 255 / 0.7);
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #ffffff;
  padding: 1px;
}

.search-form__pseudo-checkbox::after {
  display: block;
  content: '';
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::after {
  opacity: 1;
}

.search-form__label:hover .search-form__label-text {
  text-decoration: underline;
  cursor: pointer;
}

.button {
  font-family: 'Fira Sans Condensed';
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 100%;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
}

.button:hover {
  text-decoration: underline;
  cursor: pointer;
}

.button:active {
  background-color: #545050;
}

.button:focus {
  border: none;
}

.button:focus-visible {
  outline: 1px solid #ffffff;
}

.search-form__submit-button {
  align-self: flex-end;
  width: 194px;
  height: 34px;
}

.more-button {
  width: 100%;
  padding: 6px 0 6px 0;
}

.content__card-link {
  display: block;
}

.content__card-link:active {
  background-color: #545050;
}

.content__card-link_current {
  background-color: #1b1919;
}

.content__card-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.content__card-link:focus {
  border: none;
}

.content__card-link:focus-visible {
  outline: 1px solid #ffffff;
}

.content__list-item {
  padding: 3px;
}
